*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;

}

:root{
    --color-white:  #ffffff;
    --color-light:  #f2f2f2;
    --color-link:   #3273dc;
    --color-info:   #209cee;
    --color-primary:#00d1b2;
    --color-succes: #23d160;
    --color-purple-light: #b86bff;
    --color-warning:#ffdd57;
    --color-danger: #ff3860;
    --color-dark:   #363636;
    --color-black:  #0a0a0a;
    --color-orange: #ff470f;
    --color-purple-dark: #6f04d9;
    --color-pink-light: #d9048e;
    --color-pink-dark: #8a045c;
}

body{
    font-family: 'Poppins' 'Gill Sans', sans-serif;
    font-size: 18px;
    background-color: var(--color-black);
    color: var(--color-light);
    
}

.cajaPrincipal{
    height: 100vh;
    width: 100vw;
    /*background-color: var(--color-black);*/

}
.parrafo-center{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.parrafo-center h2{
    font-size: 1em;
    margin-bottom: 2em;
}
.parrafo-center p{
    font-size: 1rem;
    margin-bottom: 2em;
}
.btn{
    padding: .6rem 1.5rem;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 0  1px white;
    
}
.btn:hover{
    box-shadow: 0 0 2px  var(--color-white);
    text-decoration: underline;
    color: var(--color-black);
}

.btn-primary{
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: var(--color-light);
        
}
.btn-primary::before{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: -100%;
    left: 0;
    border-radius: 60%;
    background: var(--color-white);
    z-index: -1;
    transition: all .6s ease;
    
    
}
.btn-primary:hover::before{
    top: 0;
    border-radius: 0;
    
}
.icon-animate{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background-image: url('../assets/images/regalo.png'); /* Reemplaza con la URL de tu imagen de corazón */
    background-size: cover;
    animation: moveHeart 10s linear infinite;
}

/*-- estilo para pagina Bienvenida*/

.container-blocks{
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    /*border: thick solid orangered;*/
    background-color: var(--color-black);
    
}
.block-1{
    height: auto;
    border-bottom: thin solid var(--color-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;
}
.parrafos{
    height: auto;
    width: auto;
    padding: 2em;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 3em;
    position: relative;
    border-radius: 16px;
    border: 2px dashed white;
}


.header{
    
    height: 60px;
    width: 100%;
    box-shadow: 0 0 1.5px var(--color-light);
    border-radius: 10px;
    
    position: sticky;
    padding: 0 1rem;
    margin-bottom:5rem ;

}
.nav-menu{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  /*  border: thick solid red;*/
    
}
.logo{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: var(--color-light);
   /* border: 2px solid coral;*/
    
    
}

.btn-salir{
    display: flex;
    gap: 5px;
    min-width: 90px;
    text-align: center;
    position: relative;
    color: var(--color-white);
    transition: background-color color .7s ease;
    overflow: hidden;
     z-index: 1;
}
.btn-salir::before{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: -100%;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-white) ;
    transition: all .6s ease;
    z-index: -1;
}

.btn-salir:hover::before{
    top: 0;
    border-radius: 0;
    
}
.btn-salir:hover{
    color: var(--color-black);
}
.glass{
    background: rgba(1, 1, 1, .1);
    backdrop-filter: blur(15px);
}

/*------------ seccion Slider*/
.slider {
    width: 200px;
    height: 240px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
}

.slides {
    
    display: flex;
    width: 500%;
    height: 100%;
    animation: 20s slider infinite;
    position: relative;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.slides div {
    scroll-behavior: smooth;
    width: 20%;
    height: auto;
    background-size: cover;
    background-position: center;
    scroll-snap-align: center;
}

/*+++++----- box-main---------- -++**/

.p-center{
    color: var(--color-light);
    margin: 5em auto;
    margin-top: 6em;
    font-size: 1em;
    font-style:  italic;
    text-align: center;
    word-wrap: break-word;
    text-shadow: 0 1px 3px white;
}

.container-cards{
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-top: 3em;
}


.flip-card{
    background-color: transparent;
    width: 180px;
    height: 250px;
    perspective: 1000px;

}

.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;

}

.flip-card-front{
    background-image: linear-gradient(
                                45deg,
                                var(--color-purple-dark),
                                var(--color-pink-light)
                                );
}
.flip-card-front img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.flip-card-back {
    background-image: linear-gradient(
        185deg, 
        var(--color-dark),
        var(--color-black)
    );
    color: var(--color-white);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 5px var(--color-light);
}

/*------------ btn Top -------*/
.btn-top {
    display: none; /* Ocultar el botón por defecto */
    position: fixed; /* Posicionar el botón en la esquina inferior derecha */
    bottom: 20px;
    right: 30px;
    z-index: 99; /* Asegurarse de que el botón esté por encima de otros elementos */
    border: none; /* Remover el borde */
    outline: none; /* Remover el outline */
    color: white; /* Color del texto/icono */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse por encima */
    padding: 15px; /* Espacio alrededor del texto/icono */
    border-radius: 10px; /* Bordes redondeados */
}

.btn-top:hover {
    background-color: #00a88f; /* Cambiar el color de fondo al pasar el mouse por encima */
}
.btn-back{
    color: white; /* Color del texto/icono */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse por encima */
    padding: 15px; /* Espacio alrededor del texto/icono */
    border-radius: 10px; /* Bordes redondeados */
}
.btn-back:hover{
    color: white;
}


/*------------- stilo para Reproductor m3*/
#player {
    width: 300px;
    margin: auto;
}
.buttons div {
    display: inline-block;
    cursor: pointer;
    margin: 10px;
}

/*--------- -Mediia queries  Responsives ------- */
@media screen and (max-width: 750px) {
    .nav-links{
        display: none;

    }
    .icon-bars{
        display: block;
        margin-right: 1rem;
        font-size: larger;
    }
    .slides div {
        width: 100%;
    }

    
}


/*--------- Media Query para Dispositivos Moviles ---------------*/
@media screen and (max-width: 450px) {
    .icon-bars{
        display: block;
    }
    .nav-links-dropdown{
        left: 1rem;
        width: unset;
    }
    

    
}

/*--- Kyframes  */
@keyframes moveHeart {
    0%, 100% {
        top: 0;
        left: 0;
    }
    25%, 75% {
        top: 0;
        left: 100%;
    }
    50% {
        top: 100%;
        left: 100%;
    }
    75%{
        top: 100%;
        left: 0;
    }
    100%{
        top: 0;
        left: 0;
    }
}

@keyframes slider {
    0% { left: 0; }
    20% { left: 0; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}